{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Результаты по поиску : <span class="text-info">"{{ request.GET.keyword }}"</span></h3>
                <hr>
                {% for result in results %}
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ result.image.url }}" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <h4><a href="{{ result.get_absolute_url }}">{{ result.title }}</a></h4>
                            <p>{{ result.description|truncatewords:50 }}</p>
                            {% if user.is_authenticated %}
                                <form action="{{ result.get_absolute_url }}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.pk }}">
                                    <button  class="btn btn-info">в корзину</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}